body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D0E3FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 100vh;
}
.travel-form{
    display: flex;
    align-items:center;
    justify-content:space-between;
    margin-top:15%;
    width: 60%;
}
.travel-form1 {
    background-color: #334EAC;
    width: 300px;
    padding: 8px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(128, 147, 58, 0.659);
    text-align: center;
    left: 70%;
}
h1{
    color:#334EAC;
    position: fixed;
    margin-top: -350px; ;
}
.travel-form2 {
    background-color: #334EAC;
    width: 300px;
    padding: 8px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(128, 147, 58, 0.659);
    text-align: center;
    right:70%;
} 
.travel-check-icon input {
    background-color:  rgb(255, 255, 255);
    color: black;
    padding: 10px; /* Add padding as needed */
    border-radius: 5px; /* Add border-radius for rounded corners */
    font-weight: bold;
}
h2 {
    color: #ffffff;
}
.travel-select-icon option{
    background-color: #3498db;
    color: #fff;
    width: 60%;
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 2px;
    cursor: pointer;
}
.travel-select-icon select{
    background-color: #3498db;
    color: #fff;
    width: 60%;
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, .2);;
    border-radius: 2px;
    cursor: pointer;
    margin: 5px 0;
}
label {
    color: #fff;
    position: relative;
    right: 20px;
    margin-top: 10px;
}

input {
    
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.last-button { 
    display: flex;
    width: 30%;
    padding: 8px;
    margin-top: 60px;
    box-sizing: border-box;
    align-items:center;
    justify-content:center;
}
button {
    background-color: #D0E3FF;
    color: #334EAC;
    padding: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin: 15px 0;
    width: 40%;
}

button:hover {
    background-color: rgb(138, 185, 216);
}

.last-button button{
    background-color: #334EAC;
    color: #D0E3FF;
    padding: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin: 15px 0;
    width: 60%;
}
