body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D0E3FF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.bpmove {
    background-color: #334EAC;
    width: 300px;
    padding: 8px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(252, 252, 252, 0.929);
    text-align: center;
    align-items: center;
    justify-content: center;
}
.bpmove form{
    position: relative;
    align-items: center;
    justify-content: center;
}
h1{
    color:#fff;
}
h3{
    color:#fff;
}

.text-box {
    color: #f7f2eb;
    right: 20px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}
button.select-btn {
    background-color: #7096D1;
    color: #f7f2eb;
    padding: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin: 15px 0;
    width: 40%;
}
button.confirm-btn {
    color: #7096D1;
    padding: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin: 15px 0;
    width: 40%;
}
button:hover {
    background-color: #5f98be7e;
}
.hidden {
    display: none;
}

i {
    margin-right: 4%;
}