body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#D0E3FF;

    display: flex;
    flex-direction: column;
}
.table-collection{
    display: flex;
    align-items:flex-start;
    flex-direction:row;
    justify-content: center;
}
h2{
    color:#334EAC;
    align-self: center;
}
li{
    justify-content: center;
    border: none;
}
a{
    color: #ffffff;
    font-weight: bold;
  }
a:hover {
    color: #5f98be;/* 원하는 색상으로 변경하세요 */
}
.table1,
.table2,
.table3,
.table4,
.table5{
  width: 300px;
  padding: 10px;
  background-color: #334EAC;
  border: 2px solid#D0E3FF;
  border-radius: 8px;

}
.date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #D0E3FF;
}
.order-time{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.order{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #334EAC;
    background-color: #D0E3FF;
    border-radius: 50%;
}
.box{
    display: flex;
    flex-direction: column;
    width: 100%;
    color:#D0E3FF;
}
.travel-plan{
    display: flex;
    flex-direction: column;
}
.attraction-picture{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-start;
    color: #D0E3FF;
}
.attraction{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #D0E3FF;
}
.icon-move-time{
    display:flex ;
    flex-direction: row;
    margin-left: 6px;
}
.picture img{
    width: 60px;
    height: 60px;
}
.arrow{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}
.move-time{
    margin-left: 5%;
}
.attraction-modify{
    font-size: small;
}
.city h3{
    display: flex;
    justify-content: center;
    color: #D0E3FF;
}
h3{
    color: #D0E3FF;
}