body{
	background-color:#D0E3FF;

  }
  
  header{
	font-family:Roboto;
	font-size:20px;
	color:#334EAC;
	font-weight:bold;
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
  }
  
  #survey-form{
	background-color:#334EAC;
	font-family:Quicksand;
	max-width:50%;
	margin:auto;
	padding:0;
	border-radius:15px;
  }
  
  #description{
	color: #ffffff;
	text-align:center;
	font-size:15px; 
	padding-top:17px;
	font-weight:bold;
  }
  
  .fieldset{
	border-width:0;
	
  }
  
  .sub-group{
	position:relative;
	display:flex;
	justify-content:center;
	padding:1%;
	align-items: center;
  }
  
  label.left{
	color: #ffffff;
	width:30%;
	text-align:center;
	font-weight: bold;
  }
  
  
  .right{
	width:30%;
  }
  
  .input-field{
	height:20px;
	padding:5px;
	border: 1px solid #c0c0c0;
	border-radius: 2px;
	margin-left: 3%;
	right: 7%;
	position:relative;
	text-align: center;
  }
  .input-field::placeholder{
	text-align:center;
	font-weight: bold;
  }
  #dropdown{
	font-family:Quicksand;
	height:30px; 
	border: 1px solid #c0c0c0;
	border-radius: 2px;
  }
  
  .checkbox{
	position:relative;
	padding:3px;
	right:3px;
	bottom:15px;
  }
  
  .radio{
	color: #ffffff;
	position:relative;
	padding:3px;
  }
  
  h2{
	position:relative;
	bottom:8px;
	font-size:16px;
	text-align:center;
	font-weight:bold;
  }
  
  .commentbox{ 
	text-align:center;
  }
  
  .commentbox button{
	padding: 8px 16px;
    font-size: 1em;
    background-color: #D0E3FF;
    color: #334EAC;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
	margin-top: 10px;
    margin-bottom: 20px;
  }

  .button{
  display: flex;
  justify-content: center;
  }
  .button button{
	padding: 16px 64px;
    font-size: 1em;
    background-color: #334eac;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 40px;
	
  }

  textarea{
	width:65%;
	border-radius:4px; 
  }
  
  #submit{
	background:lightgray;
	font-family:Roboto;
	border-radius:4px;
	font-size:23px;
  }
  
  label:hover{
	cursor:pointer;
  }
  
  @media (max-width: 800px) {
	body {
	  font-size: 12px;
	}
  }
  
  @media (max-width: 580px) {
	body {
	  font-size: 12px;
	}
  }